<h1>Introduction to Systematic Reviews in International Development, Mannheim, Germany | December 11th-12th, 2019<span class="tocSkip"></span></h1>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Preliminaries" data-toc-modified-id="Preliminaries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Preliminaries</a></span></li><li><span><a href="#Exercise:-Load-the-BCG-dataset" data-toc-modified-id="Exercise:-Load-the-BCG-dataset-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Exercise: Load the BCG dataset</a></span></li><li><span><a href="#Exercise:-Understanding-your-data" data-toc-modified-id="Exercise:-Understanding-your-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Exercise: Understanding your data</a></span></li><li><span><a href="#Exercise:-Indexing" data-toc-modified-id="Exercise:-Indexing-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Exercise: Indexing</a></span></li><li><span><a href="#More-exercises-needed?" data-toc-modified-id="More-exercises-needed?-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>More exercises needed?</a></span></li></ul></div>

## Preliminaries

Please do not touch anything in this section, otherwise this notebook might not work properly. You have been warned! Also, if you have no clue what you are staring at, please consult our [Preface chapter](1-1_preface.ipynb).

In [2]:
source("run_me_first.R")

Loading required package: Matrix
Loading 'metafor' package (version 2.0-0). For an overview
and introduction to the package please type: help(metafor).

## Exercise: Load the BCG dataset

Again, please load and print out the `dat.bcg` dataset. Remember that you need to load the `metafor` package first using the `library()` function.

In [3]:
## Solution.
library(metafor)
dat.bcg

   trial author               year tpos tneg  cpos cneg  ablat alloc
1   1    Aronson              1948   4    119  11    128 44    random
2   2    Ferguson & Simes     1949   6    300  29    274 55    random
3   3    Rosenthal et al      1960   3    228  11    209 42    random
4   4    Hart & Sutherland    1977  62  13536 248  12619 52    random
5   5    Frimodt-Moller et al 1973  33   5036  47   5761 13    alternate
6   6    Stein & Aronson      1953 180   1361 372   1079 44    alternate
7   7    Vandiviere et al     1973   8   2537  10    619 19    random
8   8    TPT Madras           1980 505  87886 499  87892 13    random
9   9    Coetzee & Berjak     1968  29   7470  45   7232 27    random
10 10    Rosenthal et al      1961  17   1699  65   1600 42    systematic
11 11    Comstock et al       1974 186  50448 141  27197 18    systematic
12 12    Comstock & Webster   1969   5   2493   3   2338 33    systematic
13 13    Comstock et al       1976  27  16886  29  17825 33    systematic

## Exercise: Understanding your data

There exists multiple R functions that can help you understand the structure and nature of your data.

Use `head()` to print the first three cases:

In [4]:
## Solution.
head(dat.bcg, n = 3)

  trial author           year tpos tneg cpos cneg ablat alloc
1 1     Aronson          1948 4    119  11   128  44    random
2 2     Ferguson & Simes 1949 6    300  29   274  55    random
3 3     Rosenthal et al  1960 3    228  11   209  42    random

Use `names()` to print all variable names:

In [5]:
## Solution.
names(dat.bcg)

[1] "trial"  "author" "year"   "tpos"   "tneg"   "cpos"   "cneg"   "ablat"
[9] "alloc"

Use `dim()` to print the dimensions of the (data) object:

In [6]:
## Solution.
dim(dat.bcg)

[1] 13  9

Finally, use `str()` to display the structure of an R object. What does the output mean?

In [7]:
## Solution.
str(dat.bcg)

'data.frame':	13 obs. of  9 variables:
 $ trial : int  1 2 3 4 5 6 7 8 9 10 ...
 $ author: chr  "Aronson" "Ferguson & Simes" "Rosenthal et al" "Hart & Sutherland" ...
 $ year  : int  1948 1949 1960 1977 1973 1953 1973 1980 1968 1961 ...
 $ tpos  : int  4 6 3 62 33 180 8 505 29 17 ...
 $ tneg  : int  119 300 228 13536 5036 1361 2537 87886 7470 1699 ...
 $ cpos  : int  11 29 11 248 47 372 10 499 45 65 ...
 $ cneg  : int  128 274 209 12619 5761 1079 619 87892 7232 1600 ...
 $ ablat : int  44 55 42 52 13 44 19 13 27 42 ...
 $ alloc : chr  "random" "random" "random" "random" ...

In [8]:
## This is a test... not sure that works on the server...
## fix(dat.bcg)

## Exercise: Indexing

Indexing is probably one of the more difficult R concepts. For more information see the section on "Handling of and accessing elements in data objects" in our slides.

Again, let's load the `dat.bcg` dataset.

In [9]:
## Solution.
library(metafor)
dat.bcg

   trial author               year tpos tneg  cpos cneg  ablat alloc
1   1    Aronson              1948   4    119  11    128 44    random
2   2    Ferguson & Simes     1949   6    300  29    274 55    random
3   3    Rosenthal et al      1960   3    228  11    209 42    random
4   4    Hart & Sutherland    1977  62  13536 248  12619 52    random
5   5    Frimodt-Moller et al 1973  33   5036  47   5761 13    alternate
6   6    Stein & Aronson      1953 180   1361 372   1079 44    alternate
7   7    Vandiviere et al     1973   8   2537  10    619 19    random
8   8    TPT Madras           1980 505  87886 499  87892 13    random
9   9    Coetzee & Berjak     1968  29   7470  45   7232 27    random
10 10    Rosenthal et al      1961  17   1699  65   1600 42    systematic
11 11    Comstock et al       1974 186  50448 141  27197 18    systematic
12 12    Comstock & Webster   1969   5   2493   3   2338 33    systematic
13 13    Comstock et al       1976  27  16886  29  17825 33    systematic

Print out the first column (called `trial`) using the `$` notation:

In [10]:
## Solution.
dat.bcg$trial

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13

Print out the first column (called `trial`) using the `[]` notation:

In [11]:
## Solution.
dat.bcg[, "trial"]

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13

Print out the first row/line/case using the `[]` notation:

In [12]:
## Solution.
dat.bcg[1, ]

  trial author  year tpos tneg cpos cneg ablat alloc
1 1     Aronson 1948 4    119  11   128  44    random

Print out the data for authors `Stein & Aronson`:

In [13]:
## Solution.
dat.bcg[dat.bcg$author == "Stein & Aronson", ]

  trial author          year tpos tneg cpos cneg ablat alloc
6 6     Stein & Aronson 1953 180  1361 372  1079 44    alternate

Print out the data for studies that were conducted 1970 or later:

In [14]:
## Solution.
dat.bcg[dat.bcg$year >= 1970, ]

   trial author               year tpos tneg  cpos cneg  ablat alloc
4   4    Hart & Sutherland    1977  62  13536 248  12619 52    random
5   5    Frimodt-Moller et al 1973  33   5036  47   5761 13    alternate
7   7    Vandiviere et al     1973   8   2537  10    619 19    random
8   8    TPT Madras           1980 505  87886 499  87892 13    random
11 11    Comstock et al       1974 186  50448 141  27197 18    systematic
13 13    Comstock et al       1976  27  16886  29  17825 33    systematic

Select all studies that conducted before 1970 and count the number of those studies.

In [15]:
## Solution.
dat.bcg_bf1970 <- dat.bcg[dat.bcg$year < 1970, ]
dim(dat.bcg_bf1970) ## number of rows/cases and number of columns
nrow(dat.bcg_bf1970)

[1] 7 9

[1] 7

Print out the data for studies conducted after 1970 and that observe at least 100 `tpos`. Pleae note that there exists multiple solutions. Also note that the following solutions are not equivalent when the data contains missing data (`NA`).

In [16]:
## Solution.
dat.bcg[dat.bcg$year > 1970 & dat.bcg$tpos >= 100, ]

   trial author         year tpos tneg  cpos cneg  ablat alloc
8   8    TPT Madras     1980 505  87886 499  87892 13    random
11 11    Comstock et al 1974 186  50448 141  27197 18    systematic

In [17]:
## Solution.
subset(dat.bcg, year > 1970 & tpos >= 100)

   trial author         year tpos tneg  cpos cneg  ablat alloc
8   8    TPT Madras     1980 505  87886 499  87892 13    random
11 11    Comstock et al 1974 186  50448 141  27197 18    systematic

## More exercises needed?

Do you need more exercises or explanations?